  .gameInfoTable{
    margin: 0 auto;
    margin-top: 35px;
    margin-bottom: 25px;
  }

  .gameInfoStatisticsTable{
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .gameInfoPlayersTable{
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .text-arena {
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0 auto;
    text-align: center;
    font-size: 13px;
  }

  .no-data-message {
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0 auto;
    text-align: center;
    font-size: 13px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .team-img {
    height: 100px;
  }

  .button-statistics {
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    margin: 0 auto;
    text-align: center;
    margin-top: 60px;
  }

  .choose_statistic {
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  align-items: center;
  background-clip: padding-box;
  background-color: #C9082A;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-flex;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 100px;
  }

  .choose_statistic:hover,
  .choose_statistic:focus {
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    background-color: #EE3D44;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  }

  .choose_statistic:hover {
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    transform: translateY(-1px);
  }

  .choose_statistic:active {
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    background-color: #840000;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
  }